
@{
    ViewBag.Title = "FileTable";
}
<img src="/api/WebAPI/Download/2EC9A750-AAC3-E711-9BFF-204747404668" height="25" width="30" alt="test" style="float: left;margin: 25px 15px;">

<h2>FileTable</h2>


<form action="" method="post" enctype="multipart/form-data">
    <div style="margin: 100px 0px 150px 200px;">
        <input type="file" name="files" class="multi" />
        <input type="submit" style="margin: 20px 0px 0px 0px;" />
    </div>
</form>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jQuery.MultiFile.min.js"></script>

